@font-face {
  font-family: "KomikaAxis";
  src: url("KOMIKAX_.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #000080,
    #0000cd
  ); /* Темно-синий градиент */
  font-family: "KomikaAxis", sans-serif; /* Используем шрифт KomikaAxis */
  position: relative; /* Для позиционирования кнопки по центру */
  -webkit-user-select: none; /* Отключение выделения текста в Safari и Chrome */
  -moz-user-select: none; /* Отключение выделения текста в Firefox */
  -ms-user-select: none; /* Отключение выделения текста в IE10+ */
  user-select: none; /* Отключение выделения текста по стандарту */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/background-of-gradient-lights_23-2149304985.jpg"); /* Путь к вашему изображению */
  background-size: cover; /* Подогнать изображение по размеру */
  background-position: center; /* Центрирование изображения */
  z-index: -1; /* Размещает псевдоэлемент ниже содержимого */
}

html,
body {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-overflow-scrolling: auto;
}

.content-leaders {
  width: 350px;
  height: 140px;
  background-color: hwb(240 40% 12% / 0.231);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Чтобы скрыть выступающие элементы псевдоэлемента */
  -webkit-user-select: none; /* Отключение выделения текста в Safari и Chrome */
  -moz-user-select: none; /* Отключение выделения текста в Firefox */
  -ms-user-select: none; /* Отключение выделения текста в IE10+ */
  user-select: none; /* Отключение выделения текста по стандарту */
}

.content-leaders::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://pbs.twimg.com/media/Fy6c8pjWIAM5gqU?format=jpg&name=large"); /* Путь к вашему изображению */
  background-size: cover; /* Подогнать изображение по размеру */
  background-position: center; /* Центрирование изображения */
  opacity: 0.2; /* Прозрачность изображения */
  z-index: -1; /* Размещает псевдоэлемент ниже текста */
}

.leaders-text {
  position: absolute;
  top: 5px; /* Расстояние от верха блока */
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #ffffff;
}

.balance-leaders {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 5px;
  overflow: hidden; /* Скрывает текст, выходящий за пределы элемента */
  text-overflow: ellipsis; /* Добавляет многоточие, если текст обрезается */
  white-space: nowrap; /* Предотвращает перенос строк */
}

.additional-info {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Расстояние от верхнего блока */
}

.info-text {
  font-size: 14px;
  color: #ffffff;
  margin-right: 5px; /* Расстояние между текстом и гифкой */
}

.info-gif {
  width: 20px; /* Ширина гифки */
  height: 20px; /* Высота гифки */
}

.block-leaders {
  width: 350px;
  height: 325px;
  background-color: hwb(240 40% 12% / 0.126);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Чтобы скрыть выступающие элементы псевдоэлемента */
  -webkit-user-select: none; /* Отключение выделения текста в Safari и Chrome */
  -moz-user-select: none; /* Отключение выделения текста в Firefox */
  -ms-user-select: none; /* Отключение выделения текста в IE10+ */
  user-select: none; /* Отключение выделения текста по стандарту */
}

.semi-circle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px; /* Обновленная ширина */
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Выравнивание содержимого к началу */
  padding: 5px 10px; /* Добавляем немного внутреннего отступа */
}

.button-icon {
  width: 40px; /* Ширина иконки */
  height: 40px; /* Высота иконки */
  margin-right: 0px; /* Отступ справа от иконки */
  border-radius: 20px;
}

.text-container {
  display: flex;
  flex-direction: column; /* Элементы внутри контейнера расположены вертикально */
  flex-grow: 1; /* Позволяет контейнеру занимать все доступное пространство */
  justify-content: center; /* Центрирует содержимое по вертикали */
  align-items: flex-end; /* Выравнивание текста по правой стороне */
}

.button-text {
  font-size: 14px; /* Размер шрифта для основного текста */
}

.sub-text {
  font-size: 10px; /* Меньший размер шрифта для дополнительного текста */
  color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Более светлый цвет и прозрачность для дополнительного текста */
}

.second-semi-circle-button {
  position: absolute;
  top: 70px; /* Отрегулируйте это значение в зависимости от ваших нужд */
  left: 10px;
  width: 150px; /* Обновленная ширина */
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.second-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.second-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.second-button-text {
  font-size: 14px;
}

.second-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.third-semi-circle-button {
  position: absolute;
  top: 132px; /* Регулируемое значение для правильного расположения */
  left: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.third-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.third-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.third-button-text {
  font-size: 14px;
}

.third-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.fourth-semi-circle-button {
  position: absolute;
  top: 195px; /* Отрегулируйте это значение в зависимости от ваших нужд */
  left: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.fourth-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.fourth-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.fourth-button-text {
  font-size: 14px;
}

.fourth-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.fifth-semi-circle-button {
  position: absolute;
  top: 260px; /* Расстояние от верхнего края блока */
  left: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.fifth-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.fifth-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.fifth-button-text {
  font-size: 14px;
}

.fifth-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.top-right-semi-circle-button {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.top-right-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.top-right-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.top-right-button-text {
  font-size: 14px;
}

.top-right-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.second-top-right-semi-circle-button {
  position: absolute;
  top: 1px; /* Отрегулировано для размещения ниже первой верхней правой кнопки */
  right: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.second-top-right-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.second-top-right-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.second-top-right-button-text {
  font-size: 14px;
}

.second-top-right-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.third-top-right-semi-circle-button {
  position: absolute;
  top: 3px; /* Расстояние от верхнего края блока */
  right: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.third-top-right-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.third-top-right-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.third-top-right-button-text {
  font-size: 14px;
}

.third-top-right-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.fourth-top-right-semi-circle-button {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.fourth-top-right-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.fourth-top-right-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.fourth-top-right-button-text {
  font-size: 14px;
}

.fourth-top-right-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.fifth-top-right-semi-circle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgba(0, 64, 133, 0.187);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}

.fifth-top-right-button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.fifth-top-right-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.fifth-top-right-button-text {
  font-size: 14px;
}

.fifth-top-right-sub-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto; /* Сдвигаем кнопку вниз */
  margin-bottom: 20px; /* Добавляем отступ снизу */
}

.back-button {
  background-color: hsla(240, 100%, 25%, 0.314);
  color: #ffffff;
  border: none;
  width: 90%;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "KomikaAxis", sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
