@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "KomikaAxis";
  src: url("KOMIKAX_.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #000080,
    #0000cd
  ); /* Темно-синий градиент */
  font-family: "KomikaAxis", sans-serif; /* Используем шрифт KomikaAxis */
  position: relative; /* Для позиционирования кнопки по центру */
  -webkit-user-select: none; /* Отключение выделения текста в Safari и Chrome */
  -moz-user-select: none; /* Отключение выделения текста в Firefox */
  -ms-user-select: none; /* Отключение выделения текста в IE10+ */
  user-select: none; /* Отключение выделения текста по стандарту */
}

html,
body {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-overflow-scrolling: auto;
}

.card-container {
  width: 350px;
  height: 140px;
  background-color: hwb(240 40% 12% / 0.231);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Чтобы скрыть выступающие элементы псевдоэлемента */
  -webkit-user-select: none; /* Отключение выделения текста в Safari и Chrome */
  -moz-user-select: none; /* Отключение выделения текста в Firefox */
  -ms-user-select: none; /* Отключение выделения текста в IE10+ */
  user-select: none; /* Отключение выделения текста по стандарту */
}

.card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("balback.jpg"); /* Путь к вашему изображению */
  background-size: cover; /* Подогнать изображение по размеру */
  background-position: center; /* Центрирование изображения */
  opacity: 0.2; /* Прозрачность изображения */
  z-index: -1; /* Размещает псевдоэлемент ниже текста */
}

.card-text {
  position: absolute;
  top: 5px; /* Расстояние от верха блока */
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #ffffff;
}
.balance {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 5px;
  overflow: hidden; /* Скрывает текст, выходящий за пределы элемента */
  text-overflow: ellipsis; /* Добавляет многоточие, если текст обрезается */
  white-space: nowrap; /* Предотвращает перенос строк */
}

.button-container {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-button {
  width: 490px; /* Уменьшение размера кнопки */
  height: auto;
  transition: transform 0.2s; /* Плавный переход для наклона */
}

.fly-text {
  position: absolute;
  font-size: 30px;
  color: #ffffff;
  animation: fly 1s ease-out forwards;
  pointer-events: none; /* Чтобы текст не мешал кликам */
}

@keyframes fly {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.clicks-left {
  position: fixed;
  bottom: 55px; /* Поднять текст выше прогресс-бара */
  width: 100%;
  text-align: center; /* Центрирование текста */
  color: #ffffff;
  font-size: 16px;
}

.progress-bar-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  width: 80%; /* Ширина контейнера */
  border-radius: 10px; /* Закругленные края контейнера */
  margin: 0 auto; /* Центрирование на странице */
}

.progress-bar-background {
  width: 100%; /* Заполнение всей ширины контейнера */
  height: 20px;
  background-color: #ffffff50; /* Цвет фона, если нужно видеть прогресс */
  border-radius: 8px; /* Согласовано с внутренним прогресс-баром */
  overflow: hidden; /* Убедитесь, что прогресс-бар не выходит за пределы */
}

.progress-bar {
  height: 100%; /* Высота соответствует высоте контейнера фона */
  background-color: rgb(177, 176, 227); /* Цвет полосы */
  width: 0%; /* Начальное состояние заполнения */
  transition: width 0.5s ease; /* Плавное изменение ширины */
  box-shadow: 0 0 10px rgba(4, 0, 255, 0.8),
    /* Внешнее свечение */ 0 0 20px rgba(4, 0, 255, 0.6),
    /* Больше свечения */ 0 0 40px rgba(4, 0, 255, 0.4),
    /* Ещё больше свечения */ 0 0 80px rgba(4, 0, 255, 0.2); /* Самое большое свечение */
}

@keyframes neon-glow {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.8), 0 0 20px rgba(4, 0, 255, 0.6),
      0 0 40px rgba(4, 0, 255, 0.4), 0 0 80px rgba(4, 0, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(4, 0, 255, 1), 0 0 40px rgba(4, 0, 255, 0.8),
      0 0 80px rgba(4, 0, 255, 0.6), 0 0 120px rgba(4, 0, 255, 0.4);
  }
}

.progress-bar {
  height: 100%;
  background-color: #0035c5ce;
  width: 0%;
  transition: width 0.5s ease;
  animation: neon-glow 3s ease-in-out infinite;
}

.side-button {
  position: relative;
  background-image: url("https://cdn.vectorstock.com/i/500p/47/39/gradient-purple-blue-background-design-abstract-vector-48874739.jpg"); /* Укажите путь к вашему изображению */
  background-size: cover; /* Заполнение всей доступной области, сохраняя пропорции */
  background-position: center; /* Центрирование изображения */
  border-radius: 15px;
  background-color: #000080;
  width: 75px;
  height: 75px;
  left: 5px; /* Отступ слева */
  top: 16%;
  transform: translateY(-50%); /* Центрирование по вертикали */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; /* Курсор в виде руки для кнопки */
  text-decoration: none; /* Убрать подчеркивание текста */
  z-index: 1; /* Размещает псевдоэлемент ниже текста */
}

.side-button img {
  width: 50px; /* Размер изображения */
  height: auto;
}

.side-button span {
  margin-top: 30px; /* Отступ между изображением и текстом */
  color: white; /* Цвет текста */
  text-align: center;
  font-size: 10px; /* Размер шрифта */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.right-button {
  position: relative;
  background-image: url("https://tailwindcomponents.com/gradient-generator/assets/header.a6837f08.webp"); /* Укажите путь к вашему изображению */
  background-size: cover; /* Заполнение всей доступной области, сохраняя пропорции */
  background-position: center; /* Центрирование изображения */
  border-radius: 15px;
  background-color: #000080;
  width: 75px;
  height: 75px;
  left: 270px; /* Отступ слева */
  top: -8%;
  transform: translateY(-50%); /* Центрирование по вертикали */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; /* Курсор в виде руки для кнопки */
  text-decoration: none; /* Убрать подчеркивание текста */
  z-index: 1; /* Размещает псевдоэлемент ниже текста */
}
